## 패션 이미지 데이터셋 전처리

In [ ]:
import pandas as pd


path = '../data/meta/'
train = pd.read_json(path + 'train_no_dup.json')
valid = pd.read_json(path + 'valid_no_dup.json')
test = pd.read_json(path + 'test_no_dup.json')
blank = pd.read_json(path + 'fill_in_blank_test.json')

In [7]:
train

,name,views,items,image,likes,date,set_url,set_id,desc
0,Casual,8743,"[{'index': 1, 'name': 'mock neck embroidery su...",http://ak1.polyvoreimg.com/cgi/img-set/cid/214...,394,One month,http://www.polyvore.com/casual/set?id=214181831,214181831,A fashion look from January 2017 by beebeely-l...
1,Being a Vans shoe model with Luke. Idk about t...,188,"[{'index': 1, 'name': 'nirvana distressed t-sh...",http://ak1.polyvoreimg.com/cgi/img-set/cid/120...,9,Two years,http://www.polyvore.com/being_vans_shoe_model_...,120161271,A fashion look from April 2014 featuring destr...
2,These Chanel bags is a bad habit .x,562,"[{'index': 1, 'name': 'monki singlet', 'price'...",http://ak1.polyvoreimg.com/cgi/img-set/cid/143...,32,Two years,http://www.polyvore.com/these_chanel_bags_is_b...,143656996,12.19.14
3,Avenger/Supernatural prp,2613,"[{'index': 1, 'name': 'tops', 'price': 18.0, '...",http://ak2.polyvoreimg.com/cgi/img-set/cid/186...,88,One year,http://www.polyvore.com/avenger_supernatural_p...,186627934,A fashion look from January 2016 by alyssaclai...
4,Boho (39),62,"[{'index': 1, 'name': 'yoins leather sexy v-ne...",http://ak2.polyvoreimg.com/cgi/img-set/cid/206...,3,5 months,http://www.polyvore.com/boho_39/set?id=206969379,206969379,A fashion look from August 2016 by kate-goida ...
...,...,...,...,...,...,...,...,...,...
4995,Adollia.com - 2,1651,"[{'index': 1, 'name': '3/4 sleeves vertical st...",http://ak2.polyvoreimg.com/cgi/img-set/cid/132...,262,Two years,http://www.polyvore.com/adollia.com/set?id=132...,132364373,#adollia #casual #casualoutfit #smile #happy #...
4996,BACK TO SCHOOL #1,2510,"[{'index': 1, 'name': 'leaves flower print swe...",http://ak1.polyvoreimg.com/cgi/img-set/cid/131...,82,Two years,http://www.polyvore.com/back_to_school/set?id=...,131184965,#BackToSchool #short #pink #dior #booties #boo...
4997,Casual Look,43,"[{'index': 1, 'name': 'moi sheer ruffle front ...",http://ak2.polyvoreimg.com/cgi/img-set/cid/143...,3,Two years,http://www.polyvore.com/casual_look/set?id=143...,143905246,#chic #jeans #wearable
4998,Cozy Fall Sweaters,2345,"[{'index': 1, 'name': 'fringe sweater', 'price...",http://ak2.polyvoreimg.com/cgi/img-set/cid/210...,586,4 months,http://www.polyvore.com/cozy_fall_sweaters/set...,210094793,A fashion look from October 2016 by court8434 ...
4999,School With Ariana,42867,"[{'index': 1, 'name': 'river island blue embro...",http://ak2.polyvoreimg.com/cgi/img-set/cid/100...,711,Three years,http://www.polyvore.com/school_with_ariana/set...,100050716,&lt;3 Taggies &lt;3\n∞ @ak-1doutfits ∞\n☠ @lex...

In [59]:
from importlib import reload
import sampling  # 이미 import된 모듈
reload(sampling)  # 모듈 다시 로드
from sampling import DataSampler 
import os

base_dir = '../'
data_dir = os.path.join(base_dir, 'data')
meta_dir = os.path.join(data_dir, 'meta')
image_dir = os.path.join(data_dir, 'images')
sampler = DataSampler(data_path = meta_dir,  test_sampling_ratio=0.33)
concat_df, question_data = sampler.sample_data()

In [60]:
question_data

,question,answers,blank_position,set_id
25,"[205673366_1, 205673366_2, 205673366_3, 205673...","[205673366_5, 216786444_4, 216848880_2, 179193...",5,205673366
36,"[186990222_1, 186990222_2, 186990222_4, 186990...","[186990222_3, 215294094_5, 195227040_5, 122937...",3,186990222
45,"[194699819_1, 194699819_2, 194699819_4, 194699...","[194699819_3, 200078275_4, 201701299_7, 155626...",3,194699819
46,"[165797459_1, 165797459_2, 165797459_3, 165797...","[165797459_7, 216805459_7, 110295735_1, 208454...",6,165797459
49,"[216835282_1, 216835282_2, 216835282_4, 216835...","[216835282_3, 207440656_3, 208628477_4, 145588...",3,216835282
...,...,...,...,...
3056,"[200825565_1, 200825565_3, 200825565_4]","[200825565_2, 155834813_6, 215813921_3, 215242...",2,200825565
3059,"[192387814_1, 192387814_2, 192387814_3, 192387...","[192387814_5, 200202084_3, 138658257_3, 133837...",5,192387814
3062,"[141522521_1, 141522521_2, 141522521_3, 141522...","[141522521_6, 118452956_6, 204719897_1, 198751...",6,141522521
3069,"[132863310_1, 132863310_2, 132863310_3, 132863...","[132863310_4, 120724539_3, 141009345_4, 116162...",4,132863310
3070,"[209167583_1, 209167583_2, 209167583_3, 209167...","[209167583_7, 206263812_7, 199354654_3, 152565...",7,209167583

In [61]:
print(image_dir)

../data/images

In [62]:
concat_df

,name,items,desc,set_id,type
0,Freshest Trousers Around,"[{'index': 1, 'name': 'top maxi', 'price': 32....",#culottes #trend #Summer #summerstyle #summer2...,201834431,train
1,New Year's Eve Party!!!,"[{'index': 1, 'name': 'miss selfridge silver c...",A fashion look from December 2016 by razone fe...,214075905,train
2,Casual Days,"[{'index': 1, 'name': 'anya cole open knit swe...",A fashion look from January 2014 featuring lon...,110998417,train
3,SheIn White Halter Zipper Cami Top,"[{'index': 1, 'name': 'shein sheinside halter ...",http://www.shein.com/Halter-Zipper-Knit-Cami-T...,193472465,train
4,Yoins,"[{'index': 1, 'name': 'yoins black chiffon dre...",@yoinscollection #yoins \n#polyvoreeditorial #...,189502224,train
...,...,...,...,...,...
4857,No 313:Orange (Top Set),"[{'index': 1, 'name': 'stella jean jacket', 'p...",A fashion look from February 2016 by lovepaste...,190561264,test
4858,"No matter how you feel - get up, dress up, sho...","[{'index': 1, 'name': 'valentino lace t-shirt'...",A fashion look from January 2016 by fashionque...,187283584,test
4859,BoHo,"[{'index': 1, 'name': 'rachel zoe off-the-shou...",A fashion look from February 2017 by hereisale...,216848936,test
4860,SheIn 5,"[{'index': 1, 'name': 'navy side striped crop ...",http://www.shein.com/Navy-Side-Striped-Crop-Sw...,216452034,test
4861,How to Style Metallic Makeup with a Bold Gucci...,"[{'index': 1, 'name': 'smashbox cover metallic...",A beauty collage from January 2017 by outfitsf...,215045298,test

In [63]:
concat_df[concat_df['type']=='train']

,name,items,desc,set_id,type
0,Freshest Trousers Around,"[{'index': 1, 'name': 'top maxi', 'price': 32....",#culottes #trend #Summer #summerstyle #summer2...,201834431,train
1,New Year's Eve Party!!!,"[{'index': 1, 'name': 'miss selfridge silver c...",A fashion look from December 2016 by razone fe...,214075905,train
2,Casual Days,"[{'index': 1, 'name': 'anya cole open knit swe...",A fashion look from January 2014 featuring lon...,110998417,train
3,SheIn White Halter Zipper Cami Top,"[{'index': 1, 'name': 'shein sheinside halter ...",http://www.shein.com/Halter-Zipper-Knit-Cami-T...,193472465,train
4,Yoins,"[{'index': 1, 'name': 'yoins black chiffon dre...",@yoinscollection #yoins \n#polyvoreeditorial #...,189502224,train
...,...,...,...,...,...
3656,"if you're reading this, have a good day 💙","[{'index': 1, 'name': 'yoins pattern print v-n...",A fashion look from January 2017 by exco featu...,215700159,train
3657,ripped jeans,"[{'index': 1, 'name': 'l.k. bennett blue textu...",A fashion look from January 2017 by giuly07 fe...,215537175,train
3658,Aria's School,"[{'index': 1, 'name': 'spaghetti strap flower ...",A fashion look from May 2015 featuring floral ...,157325270,train
3659,Без названия #248,"[{'index': 1, 'name': 'preowned edward champag...",A fashion look from December 2016 by annabezha...,212432250,train
3660,Winter Dresses Under $100 - Glam style,"[{'index': 1, 'name': 'women's topshop sequin'...",#under100\n#polyvore \n#polyvorecontest \n#pol...,214072564,train

In [64]:
from importlib import reload
import multimodal_data # 이미 import된 모듈
reload(multimodal_data)
from multimodal_data import MultiModalData

train_dataset = MultiModalData(concat_df, sampler.category_df, image_dir, mode='train')
valid_dataset = MultiModalData(concat_df, sampler.category_df, image_dir, mode='valid')
test_dataset = MultiModalData(concat_df, sampler.category_df, image_dir, question = question_data, mode='test')

In [65]:
print(f"train: {len(train_dataset)} valid: {len(valid_dataset)} test: {len(test_dataset)} ")

train: 3661 valid: 594 test: 607

In [66]:
train_dataset[100]

{'text': ['Tops: ariana grande lipsy lace back crop top.',
  "Jackets: maurices denim jacket dark wash women's jacket.",
  'Skinny Jeans: white plus size pamela skinny jeans.',
  "Flats: women's espadrille flat.",
  'Sunglasses: quay australia quay sunglasses.'],
 'price': [20.0, 17.0, 74.0, 70.0, 38.0],
 'likes': [16505, 2969, 4382, 573, 9964],
 'images': [<PIL.Image.Image image mode=RGB size=327x400>,
  <PIL.Image.Image image mode=RGB size=304x400>,
  <PIL.Image.Image image mode=RGB size=158x400>,
  <PIL.Image.Image image mode=RGB size=400x233>,
  <PIL.Image.Image image mode=RGB size=400x151>],
 'set_id': 203453311}

In [67]:
test_dataset[100]

{'text': ["Day Dresses: plus size women's city chic print dress.",
  "Jackets: plus size women's crop denim jacket.",
  'Pumps: purple cut side pointed court shoes.',
  'Tote Bags: panama straw basket tote bag.'],
 'price': [140.0, 89.0, 22.0, 3000.0],
 'likes': [2439, 1161, 127, 81],
 'images': [<PIL.Image.Image image mode=RGB size=262x400>,
  <PIL.Image.Image image mode=RGB size=390x400>,
  <PIL.Image.Image image mode=RGB size=359x400>,
  <PIL.Image.Image image mode=RGB size=310x400>],
 'set_id': 153074464,
 'question': [{'question_ids': ['153074464_1', '153074464_2', '153074464_4'],
   'answer': ['153074464_3', '126983814_3', '176638402_5', '215313968_4'],
   'blank_position': 3}]}

In [68]:
test_dataset[100]['text']

["Day Dresses: plus size women's city chic print dress.",
 "Jackets: plus size women's crop denim jacket.",
 'Pumps: purple cut side pointed court shoes.',
 'Tote Bags: panama straw basket tote bag.']

In [69]:
images = test_dataset[100]['images'] # 애초에 이미지는 8개만 잘라서 사용하는게 좋음.. 저장자체를
for img in images:
    img.show()  # 각 이미지를 기본 이미지 뷰어로 표시

In [70]:
test_dataset[10]['question']

[{'question_ids': ['132580910_1',
   '132580910_2',
   '132580910_3',
   '132580910_5',
   '132580910_6'],
  'answer': ['132580910_4', '104898516_7', '216626967_4', '117605688_6'],
  'blank_position': 4}]